include README.rst CHANGES LICENSE
recursive-include leaflet/locale *.mo
recursive-include leaflet/templates *.html *.js
recursive-include leaflet/static *.css
recursive-include leaflet/static *.js
recursive-include leaflet/static *.map
recursive-include leaflet/static *.png
recursive-include leaflet/static *.svg
