{% load static leaflet_tags %}

<style type="text/css">{% block map_css %}
    #{{ id_map }} { width: {{ map_width }}px; height: {{ map_height }}px; }
    #{{ id }}_map .aligned label { float: inherit; }
    #{{ id }}_div_map { position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
    {% if not display_wkt %}#{{ id }} { display: none; }{% endif %}

    /* Fixes for Django base.css */
    .module .leaflet-draw ul {
        margin-left: 0px;
        padding-left: 0px;
    }
    .module .leaflet-draw ul li {
        list-style-type: none;
    }
    {% endblock map_css %}
</style>

<script type="text/javascript">
    L.Control.ResetView.ICON = "url({% static "leaflet/images/reset-view.png" %})";

    {% block vars %}var {{ module }} = {};
    {{ module }}.modifiable = {{ modifiable|yesno:"true,false" }};
    {{ module }}.is_collection = {{ is_collection|yesno:"true,false" }};
    {{ module }}.collection_type = '{{ collection_type }}';
    {{ module }}.is_generic = {{ is_generic|yesno:"true,false" }};
    {{ module }}.is_linestring = {{ is_linestring|yesno:"true,false" }};
    {{ module }}.is_polygon = {{ is_polygon|yesno:"true,false" }};
    {{ module }}.is_point = {{ is_point|yesno:"true,false" }};
    {{ module }}.default_zoom = {{ default_zoom }};
    {{ module }}.id = '{{ id }}';
    {{ module }}.srid = {{ srid }};
    {{ module }}.store_class = {{ field_store_class }};
    {% endblock vars %}

    function {{ id_map_callback }}(map, options) {
        (new {{ geometry_field_class}}({{ module }})).addTo(map);
    };
</script>

<div id="{{ id }}_div_map">
    {% leaflet_map id_map callback=id_map_callback %}
</div>

{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
<textarea id="{{ id }}" class="vWKTField required" cols="150" rows="10" name="{{ name }}">{{ wkt }}</textarea>
