.leaflet-container {
    width: min(calc(100vw - 30px), 720px);
    height: 400px;
}

/* Fixes for Django base.css */
.module .leaflet-draw ul {
    margin-left: 0px;
    padding-left: 0px;
}
.module .leaflet-draw ul li {
    list-style-type: none;
}
