{% load i18n %}
{% load static from staticfiles %}
{% if DEBUG %}
<script src="{% static "leaflet/leaflet-src.js" %}" type="text/javascript"></script>
{% else %}
<script src="{% static "leaflet/leaflet.js" %}" type="text/javascript"></script>
{% endif %}
{% if SRID %}
    <script src="{% static "leaflet/proj4js.js" %}" type="text/javascript"></script>
    <script src="{% static "leaflet/proj4leaflet.js" %}" type="text/javascript"></script>
    <script src="{% static "proj4js/"|add:SRID|add:".js" %}" type="text/javascript"></script>
{% endif %}
{% if PLUGINS_JS %}
    {% for js in PLUGINS_JS %}
        <script src="{{ js }}" type="text/javascript"></script>
    {% endfor %}
{% endif %}
<script src="{% static "leaflet/leaflet.extras.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    {% if with_forms %}{% include "leaflet/_leaflet_draw_i18n.js" %}{% endif %}
    L.Control.ResetView.TITLE = "{% trans "Reset view" %}";
    L.Control.ResetView.ICON = "url({% static "leaflet/images/reset-view.png" %})";
    {% if FORCE_IMAGE_PATH %}
    L.Icon.Default.imagePath = "{% static "leaflet/images" %}";
    {% endif %}
</script>
