{% load static %}
{{ Control_ResetView_TITLE|json_script:"Control-ResetView-TITLE" }}
{% if with_forms %}
    {{ draw_toolbar_actions_title|json_script:"draw-toolbar-actions-title" }}
    {{ draw_toolbar_actions_text|json_script:"draw-toolbar-actions-text" }}
    {{ draw_toolbar_undo_title|json_script:"draw-toolbar-undo-title" }}
    {{ draw_toolbar_undo_text|json_script:"draw-toolbar-undo-text" }}
    {{ draw_toolbar_buttons_polyline|json_script:"draw-toolbar-buttons-polyline" }}
    {{ draw_toolbar_buttons_polygon|json_script:"draw-toolbar-buttons-polygon" }}
    {{ draw_toolbar_buttons_rectangle|json_script:"draw-toolbar-buttons-rectangle" }}
    {{ draw_toolbar_buttons_circle|json_script:"draw-toolbar-buttons-circle" }}
    {{ draw_toolbar_buttons_marker|json_script:"draw-toolbar-buttons-marker" }}
    {{ draw_handlers_circle_tooltip_start|json_script:"draw-handlers-circle-tooltip-start" }}
    {{ draw_handlers_marker_tooltip_start|json_script:"draw-handlers-marker-tooltip-start" }}
    {{ draw_handlers_polygon_tooltip_start|json_script:"draw-handlers-polygon-tooltip-start" }}
    {{ draw_handlers_polygon_tooltip_cont|json_script:"draw-handlers-polygon-tooltip-cont" }}
    {{ draw_handlers_polygon_tooltip_end|json_script:"draw-handlers-polygon-tooltip-end" }}
    {{ draw_handlers_polyline_error|json_script:"draw-handlers-polyline-error" }}
    {{ draw_handlers_polyline_tooltip_start|json_script:"draw-handlers-polyline-tooltip-start" }}
    {{ draw_handlers_polyline_tooltip_cont|json_script:"draw-handlers-polyline-tooltip-cont" }}
    {{ draw_handlers_polyline_tooltip_end|json_script:"draw-handlers-polyline-tooltip-end" }}
    {{ draw_handlers_rectangle_tooltip_start|json_script:"draw-handlers-rectangle-tooltip-start" }}
    {{ draw_handlers_simpleshape_tooltip_end|json_script:"draw-handlers-simpleshape-tooltip-end" }}

    {{ edit_toolbar_actions_save_title|json_script:"edit-toolbar-actions-save-title" }}
    {{ edit_toolbar_actions_save_text|json_script:"edit-toolbar-actions-save-text" }}
    {{ edit_toolbar_actions_cancel_title|json_script:"edit-toolbar-actions-cancel-title" }}
    {{ edit_toolbar_actions_cancel_text|json_script:"edit-toolbar-actions-cancel-text" }}
    {{ edit_toolbar_buttons_edit|json_script:"edit-toolbar-buttons-edit" }}
    {{ edit_toolbar_buttons_editDisabled|json_script:"edit-toolbar-buttons-editDisabled" }}
    {{ edit_toolbar_buttons_remove|json_script:"edit-toolbar-buttons-remove" }}
    {{ edit_toolbar_buttons_removeDisabled|json_script:"edit-toolbar-buttons-removeDisabled" }}
    {{ edit_handlers_edit_tooltip_text|json_script:"edit-handlers-edit-tooltip-text" }}
    {{ edit_handlers_edit_tooltip_subtext|json_script:"edit-handlers-edit-tooltip-subtext" }}
    {{ edit_handlers_remove_tooltip_text|json_script:"edit-handlers-remove-tooltip-text" }}
{% endif %}
<script src="{% static 'leaflet/draw/leaflet.draw.i18n.js' %}"></script>