{% load static i18n %}
{% if creatediv %}<div id="{{ name }}" class="leaflet-container-default"></div>{% endif %}
<script type="text/javascript">
(function () {

    function loadmap() {
        var djoptions = {% autoescape off %}{{ djoptions }}{% endautoescape %},
            options = {djoptions: djoptions, initfunc: loadmap,
                       globals: {{ NO_GLOBALS|yesno:"false,true"}}, callback: {{ callback}}};
        L.Map.djangoMap('{{ name }}', options);
    }
    if (window.addEventListener) window.addEventListener("load", loadmap, false);
    else if (window.jQuery) jQuery(window).on("load", loadmap);

})();
</script>
