{% load static i18n l10n %}
{% if creatediv %}<div id="{{ name }}" class="leaflet-container-default"></div>{% endif %}
<script type="text/javascript">
    (function () {
        function loadmap() {
            var djoptions = {% autoescape off %}{{ djoptions }}{% endautoescape %},
                map = L.Map.djangoMap('{{ name }}', {djoptions: djoptions});
            {% if not NO_GLOBALS %}
            // Register document maps, like window.forms :)
            window.maps = window.maps || [];
            window.maps.push(map);
            {% endif %}
            if(typeof {{ callback }} == 'function') {
                console.warn('DEPRECATED: Use function callback is deprecated, prefer events (see documentation).');
                {{ callback }}(map, djoptions.extent);
                return;
            }

            // Trigger init event
            var evt = new CustomEvent('map:init', {'map': map});
            window.dispatchEvent(event);
        }
        window.addEventListener("load", loadmap, false);
        {% if not NO_GLOBALS %}
        // Put initialization function in global scope
        window['loadmap' + '{{ name }}'] = loadmap;
        {% endif %}
    })();
</script>
